@font-face {
    font-family: BIGJOHN;
    src: url(../font/BIGJOHN.otf);
}
@font-face {
    font-family: SlimJoe;
    src: url(../font/SlimJoe.otf);
}
@font-face {
    font-family: Anders;
    src: url(../font/Anders.ttf);
}
@font-face {
    font-family:mon;
    src: url(../font/mon/Montserrat-Hairline.otf);
}

/*----------------------------------------------------------*/

video{
  position:fixed;
  left:0;top:0;
  min-width:100%;
  min-height:100%;
  width:auto;
  height:auto;
  z-index:-100;
  visibility: visible;
  background: url(img/pattern_stripe.png);

}
#logo{
  width: 320px; height: 320px;
  margin: 80px auto;
  padding: 20px;
  text-align: center;
  border-radius: 50%;
  background: url(img/thick_stripe.png);
}
#vCent{
  display: table;
  height: 320px; width: 320px;
  overflow: hidden;
}
#vCent h1{
  display: table-cell; vertical-align: middle;
  font-size:5em;
  letter-spacing:.02em;
  line-height: .8em;
  color: #636;
}
.header3{
   font-size: 20px;
    font-family: slimjoe;
}
.strapline{
  padding: 20px 0;
  color: #fff;
/*  font-family: BIGJOHN;*/
  text-align: center;
}
.x_bg{ background: url(../img/pattern_stripe.png);
height: 100%;
   -webkit-linear-gradient(transparent, transparent);
   -webkit-background-clip: text;
    color: transparent;
     background: -o-linear-gradient(transparent, transparent);
}
.cntr{
  margin: 0 auto;
  width: 95%;
  max-width: 960px;
  line-height: 1.6em;
}
.lines{
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
}
.white{
  background: #fff;
  padding: 40px 0;
}
a{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding:.5rem;
  transition:.3s background;
}
a:hover{

}
hr {
  height:1px;
  background-color:#ddd;
  border:none;
}
.third{
  float: left;
  width: 30%;
  padding: 0 1.5%;
}
.clearfix{ clear: both; }
.spacer { min-height: 240px; }
.dark_bg { background:rgba(0,0,0,0.5); }
.smll { font-size: 0.8em;
  color: rgba(255,255,255,0.5);
}
.respond {
  max-width: 100%;
}
.small_spacer { min-height: 120px; }
.thin_bg{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,55,55,0.9)), color-stop(80%,rgba(55,55,55,0)),color-stop(100%,rgba(55,55,55,0.3))), url(images/thin_stripe.png);
}
.about-img{
  max-width: 360px;
  display: block;
  float: right;
}
.dark2_bg {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(45,45,45,0)), color-stop(100%,rgba(45,45,45,0.8))), url(images/pattern_stripe.png);;
}
.dark{
  background: #222;
  padding: 40px 0;
}
.dark p, .dark h2{
  color: #999;
}
@media screen and (max-width: 768px) {
    .project-pic{width: 100%;margin-left: 0%;}
  video{ visibility:hidden;}
  #logo{width: 200px; height: 200px; margin: 30px auto;}
  #vCent{width: 200px; height: 200px;}
  #vCent h1{font-size:3em;}
  .strapline{font-size:2em;}
}
.cover{
  width: 100%;
  height: 100%;
  background: url(../img/pattern_stripe.png);

}
.header-bar{
  width: 100%;
  margin-bottom: 100px;

}
.slogan{

  font-family: SlimJoe;
}
.btntour{
  width: 25%;
  border:1px solid white;
  height: auto;
  cursor: pointer;
}
.btntour:hover{
  color: #8DC89C;
  border: 2px solid #8DC79E;
}


.copyright{
  margin-top: 138px;
  font-family: SlimJoe;
  font-size: 10px;
  margin-bottom: 20px;
}
.shade1{
display: inline-block;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
float: none;
z-index: auto;
width: auto;
height: auto;
position: static;
cursor: default;
margin: 0;
padding: 10px;
overflow: visible;
border: none;
-webkit-border-radius: 0;
border-radius: 0;
color: rgba(255,255,255,1);
text-decoration: normal;
text-align: center;
-o-text-overflow: clip;
text-overflow: clip;
white-space: pre;
background: none;
-webkit-box-shadow: none;
box-shadow: none;
text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-webkit-transform: none;
transform: none;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;
}
.shade2{
  color: #DB5659;
  font-weight: bolder;
}
.shade3{
color: #8DC89C;
  font-weight: bolder;
}
.shade4{
color: #fff;
    font-family: Slimjoe;
  font-weight: bolder;
    font-size: 25px;
  display: inline-block;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
float: none;
z-index: auto;
width: auto;
height: auto;
position: static;
cursor: default;
margin: 0;
padding: 10px;
overflow: visible;
border: none;
-webkit-border-radius: 0;
border-radius: 0;
font-size: 15px;
text-decoration: normal;
text-align: center;
-o-text-overflow: clip;
text-overflow: clip;
 line-height: 1.5em;
background: none;
-webkit-box-shadow: none;
box-shadow: none;
text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-webkit-transform: none;
transform: none;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;
}
.shade5{
color: #8DC89C;
  font-weight: bolder;
}

.page-title {
/*  font-weight: bolder;*/
}

.intro-text{
    font-size: 1.1rem;
/*    font-weight: bolder;*/
    color: white;
    line-height: 1em;
}
.project-pic{
  cursor: pointer;
  filter: brightness(30%);
-webkit-filter: brightness(30%);
-moz-filter: brightness(30%);
-o-filter: brightness(30%);
-ms-filter: brightness(30%);
}
.project-pic:hover{
  background-image: url(../img/bg.svg);
}
.project-tile{
  background: #16181F;
  margin-top: 20px;
}
.project-description{
    font-size: 15px;
   font-family: SlimJoe;
   line-height: 1.5em;
   text-align: left;
}
.bolder-head{
  font-weight: bold;
}
.lhlaf{
  width: 48%;
    margin-left: 10px;
}
.se-pre
{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
    background-color: white;
	background: url(../img/Preloader_7.gif) center no-repeat #fff;
}
.btn-view-proj{
    height: 40px;
    width: 160px;
    background: transparent;
    color: white;
   font-family: mon;
    border: 1px solid white;
    cursor: pointer;
    float: right;
 padding-left: 17px;
    padding-top: 5px;
}
.btn-view-proj:hover{
   background: white;
    color: black;

}

.accelerate{-webkit-backface-visibility:hidden;-webkit-perspective:1000;-webkit-transform:translate3d(0,0,0); text-align: left;font-family: SlimJoe;}.headline{font-family:"Hans Kendrick Heavy";font-size:72px;letter-spacing:-4px;line-height:68px;cursor:default}

.text{font-family: mon;
    color: white;
letter-spacing:-1px}
.text.bold{
font-family:SlimJoe;
letter-spacing:-1px
}
.headline.regular,.
text.regular{color:#E6E6EC}
.headline.catcher,.text.catcher{color:#14A03C}a{color:#E6E6EC;text-decoration:none;outline:0;-webkit-transition:color .1s linear;transition:color .1s linear}a:hover{color:#14A03C}.pres{font-family:SlimJoe}.pres.title{font-size:24px; font-weight: bolder; letter-spacing:-2px;color:#E6E6EC}.ghostbutton{border:2px solid;border-radius:4px;color:#E6E6EC;text-align:center;-webkit-transition:background-color .1s linear,color .1s linear;transition:background-color .1s linear,color .1s linear}.ghostbutton:hover{background-color:rgba(230,230,236,1);color:#14A03C;-webkit-transition:background-color .1s linear,color .1s linear;transition:background-color .1s linear,color .1s linear}#con_menu{position:fixed;left:32px;top:32px}#con_buttons{position:fixed;left:96px;top:32px;-webkit-transition:-webkit-transform .2s ease,opacity .2s ease;transition:transform .2s ease,opacity .2s ease}#nav_logo{position:fixed;left:96px;width:160px;height:32px;fill:#E6E6EC;-webkit-transition:-webkit-transform .2s ease,opacity .2s ease;transition:transform .2s ease,opacity .2s ease}#nav_menu{float:left;width:32px;height:32px}#nav_contact,#nav_home,#nav_lang,#nav_work{float:left;width:32px;height:32px;margin-right:32px}#txt_nav_contact,#txt_nav_home,#txt_nav_lang,#txt_nav_work{float:left;max-width:0;overflow:hidden;margin-right:0;font-size:16px;line-height:36px;white-space:nowrap;cursor:default;-webkit-transition:max-width .2s ease,margin-right .2s ease;transition:max-width .2s ease,margin-right .2s ease}#nav_contact:hover+#txt_nav_contact,#nav_home:hover+#txt_nav_home,#nav_lang:hover+#txt_nav_lang,#nav_work:hover+#txt_nav_work{max-width:126px;margin-right:32px}.navbut:hover path{fill:#14A03C}.navbut path{fill:#E6E6EC;-webkit-transition:fill .1s linear,opacity .1s linear;transition:fill .1s linear,opacity .1s linear}.navigation_hidden{opacity:0;filter:alpha(opacity=0);-webkit-transform:translateX(64px);-ms-transform:translateX(64px);transform:translateX(64px);pointer-events:none}.navigation_visible{opacity:1;filter:alpha(opacity=100);-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);pointer-events:all}.con_home{position:absolute;width:100%;height:100vh}#txt_headline_home{position:relative;left:50%;top:50%;width:90%;height:auto;text-align:center;-webkit-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%)}#but_work{position:absolute;left:50%;top:70%;width:45%;height:auto;padding:8px;font-size:32px;-webkit-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%)}.txt_headline_about,.txt_headline_work{position:relative;width:90%;height:320px;text-align:center;line-height:350px;margin:0 auto}.con_work{position:relative;width:50%;height:auto;top:0;margin:0 auto}#txt_work{font-size:16px;text-align:justify;margin-bottom:16px}#con_flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}


con_jan:hover,.con_pres:hover{border:2px solid}.con_jan_img,.con_pres_img{position:relative;left:-2px;width:calc(100% + 34px);height:160px;margin-left:-16px;margin-top:-16px;margin-bottom:16px;border-top-left-radius:4px;border-top-right-radius:4px;overflow:hidden}.con_jan_img .over,.con_pres_img .over{position:absolute;left:0;top:0;width:100%;height:100%;background-color:rgba(20,24,28,.75);background-image:url(img/fullscreen.svg);background-size:auto 48px;background-repeat:no-repeat;background-position:center;opacity:0;filter:alpha(opacity=0);z-index:999;pointer-events:none;-webkit-transition:opacity .1s linear;transition:opacity .1s linear}.con_jan_img:hover .over,.con_pres_img:hover .over{opacity:1;filter:alpha(opacity=100)}.con_jan_img img,.con_pres_img img{position:relative;width:100%;min-width:100%;min-height:100%;left:50%;top:50%;-webkit-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%)}#but_about{position:relative;left:50%;top:70%;width:65%;height:auto;padding:8px;font-size:32px;margin-top:8px;margin-bottom:16px;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%)}.con_about{position:relative;width:50%;height:auto;top:0;margin:0 auto;margin-bottom:16px}.con_jan{width:100%}.con_jan_img{height:240px}.con_jan_img img{-webkit-transform:translateX(-50%) translateY(-60%);-ms-transform:translateX(-50%) translateY(-60%);transform:translateX(-50%) translateY(-60%)}#but_email,#but_social1,#but_social2{position:relative;width:auto;height:40px}#disclaimer{display:none;background-color:#14181c;padding:16px;border-radius:4px}@media screen and (max-width:1130px){.headline{font-size:56px;line-height:52px}#but_about,#but_work{font-size:24px}.con_about,.con_work{width:70%}.con_pres{width:100%}}@media screen and (max-width:850px){.headline{font-size:48px;line-height:44px}#but_about,#but_work{font-size:20px}}@media screen and (max-width:710px){.headline{font-size:28px;letter-spacing:-2px;line-height:28px}#but_about,#but_work{width:55%;font-size:16px}#nav_logo{visibility:hidden}#con_buttons{left:32px;top:96px;width:127px}#nav_contact:hover+#txt_nav_contact,#nav_home:hover+#txt_nav_home,#nav_lang:hover+#txt_nav_lang,#nav_work:hover+#txt_nav_work{max-width:126px;margin-right:-100%}#nav_contact,#nav_home,#nav_lang,#nav_work{margin-right:32px;margin-bottom:32px}.navigation_hidden{opacity:0;filter:alpha(opacity=0);-webkit-transform:translateX(-64px);-ms-transform:translateX(-64px);transform:translateX(-64px)}.navigation_visible{opacity:1;filter:alpha(opacity=100);-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}.con_about,.con_work{width:100%;margin:0;padding:8px}}.animsition,.animsition-overlay{position:relative;opacity:0;filter:alpha(opacity=0);-webkit-animation-fill-mode:both;animation-fill-mode:both}.animsition-loading{position:fixed;top:0;z-index:100;width:100%;height:100%;background:url(img/loading.svg) center center no-repeat;background-size:64px 64px;-webkit-animation-fill-mode:both;animation-fill-mode:both}@-webkit-keyframes fade-in{0%{opacity:0;filter:alpha(opacity=0)}100%{opacity:1;filter:alpha(opacity=100)}}@keyframes fade-in{0%{opacity:0;filter:alpha(opacity=0)}100%{opacity:1;filter:alpha(opacity=100)}}.fade-in{-webkit-animation-name:fade-in;animation-name:fade-in}@-webkit-keyframes fade-out{0%{opacity:1;filter:alpha(opacity=100)}100%{opacity:0;filter:alpha(opacity=0)}}@keyframes fade-out{0%{opacity:1;filter:alpha(opacity=100)}100%{opacity:0;filter:alpha(opacity=0)}}.fade-out{-webkit-animation-name:fade-out;animation-name:fade-out}.nivo-lightbox-overlay{position:fixed;top:0;left:0;z-index:99998;width:100%;height:100%;overflow:hidden;visibility:hidden;opacity:0;filter:alpha(opacity=0);box-sizing:border-box}.nivo-lightbox-overlay.nivo-lightbox-open{visibility:visible;opacity:1;filter:alpha(opacity=100)}.nivo-lightbox-wrap{position:absolute;top:10%;bottom:10%;left:10%;right:10%}.nivo-lightbox-content{width:100%;height:100%}.nivo-lightbox-title-wrap{position:absolute;bottom:0;left:0;width:100%;z-index:99999;text-align:center}.nivo-lightbox-nav{display:none}.nivo-lightbox-prev{position:absolute;top:50%;left:0}.nivo-lightbox-next{position:absolute;top:50%;right:0}.nivo-lightbox-close{position:absolute;top:2%;right:2%}.nivo-lightbox-image{text-align:center}.nivo-lightbox-image img{max-width:100%;max-height:100%;width:auto;height:auto;vertical-align:middle}.nivo-lightbox-content iframe{width:100%;height:100%;border-radius:4px}.nivo-lightbox-ajax,.nivo-lightbox-inline{max-height:100%;overflow:auto;box-sizing:border-box;border-radius:4px}.nivo-lightbox-error{display:table;text-align:center;width:100%;height:100%;color:#E6E6EC;font-family:'Hans Kendrick';font-size:16px;letter-spacing:-1px}.nivo-lightbox-error p{display:table-cell;vertical-align:middle}.nivo-lightbox-notouch .nivo-lightbox-effect-fade,.nivo-lightbox-notouch .nivo-lightbox-effect-fadeScale,.nivo-lightbox-notouch .nivo-lightbox-effect-fall,.nivo-lightbox-notouch .nivo-lightbox-effect-slideDown,.nivo-lightbox-notouch .nivo-lightbox-effect-slideLeft,.nivo-lightbox-notouch .nivo-lightbox-effect-slideRight,.nivo-lightbox-notouch .nivo-lightbox-effect-slideUp{-webkit-transition:all .2s linear;transition:all .2s linear}.nivo-lightbox-theme-default.nivo-lightbox-overlay{background:#0B0C0E;background:rgba(11,12,14,.8)}.nivo-lightbox-theme-default .nivo-lightbox-content.nivo-lightbox-loading{background:url(img/loading.svg) no-repeat 50% 50%;background-size:64px 64px}.nivo-lightbox-theme-default .nivo-lightbox-nav{top:25%;width:8%;height:50%;text-indent:-9999px;background-repeat:no-repeat;background-position:50% 50%;opacity:.5;filter:alpha(opacity=50);color:#14A03C;border:2px solid transparent;-webkit-transition:border .1s linear,opacity .1s linear,background-color .1s linear,color .1s linear;transition:border .1s linear,opacity .1s linear,background-color .1s linear,color .1s linear}.nivo-lightbox-theme-default .nivo-lightbox-nav:hover{background-color:rgba(20,24,28,1);opacity:1;filter:alpha(opacity=100);border:2px solid}.nivo-lightbox-theme-default .nivo-lightbox-prev{background-image:url(img/prev.svg);background-size:50%;border-radius:0 3px 3px 0}.nivo-lightbox-theme-default .nivo-lightbox-next{background-image:url(img/next.svg);background-size:50%;border-radius:3px 0 0 3px}.nivo-lightbox-theme-default .nivo-lightbox-close{display:block;background:url(img/close.svg) no-repeat;width:24px;height:24px;text-indent:-9999px;padding:5px;opacity:.5;filter:alpha(opacity=50);-webkit-transition:opacity .1s linear;transition:opacity .1s linear}.nivo-lightbox-theme-default .nivo-lightbox-close:hover{opacity:1;filter:alpha(opacity=100)}.nivo-lightbox-theme-default .nivo-lightbox-title-wrap{bottom:-7%}.nivo-lightbox-theme-default .nivo-lightbox-title{font:14px/20px 'Hans Kendrick';background:#14181C;color:#E6E6EC;padding:4px 8px;border-radius:4px;border:2px solid;border-color:#14A03C}.nivo-lightbox-theme-default .nivo-lightbox-image img{background:#0B0C0E;border-radius:4px}.nivo-lightbox-theme-default .nivo-lightbox-ajax,.nivo-lightbox-theme-default .nivo-lightbox-inline{background:#0B0C0E}@media (-webkit-min-device-pixel-ratio:1.3),(min-device-pixel-ratio:1.3),(min-resolution:1.3dppx){.nivo-lightbox-theme-default .nivo-lightbox-content.nivo-lightbox-loading{background-size:96px 96px}.nivo-lightbox-theme-default .nivo-lightbox-next,.nivo-lightbox-theme-default .nivo-lightbox-prev{background-size:48px 48px}.nivo-lightbox-theme-default .nivo-lightbox-close{background-size:16px 16px}}

